# Get your Plaid API keys from the dashboard: https://dashboard.plaid.com/team/keys
PLAID_CLIENT_ID=
PLAID_SANDBOX_SECRET=
PLAID_PRODUCTION_SECRET=


# PLAID_COUNTRY_CODES is a comma-separated list of countries to use when
# initializing Link, e.g. PLAID_COUNTRY_CODES=US,CA.
# Institutions from all listed countries will be shown. If Link is launched with multiple country codes,
# only products that you are enabled for in all countries will be used by Link.
# See https://plaid.com/docs/api/link/#link-token-create-request-country-codes for a complete list
PLAID_COUNTRY_CODES=US,CA


# YAPCLI_DEFAULT_DIRS controls the default location for config/secrets/logs.
# - PLATFORMDIRS: use platform-native locations via platformdirs (e.g. ~/.config/yapcli on Linux)
# - CWD: use the current working directory (e.g. ./.env, ./secrets, ./logs)
# YAPCLI_DEFAULT_DIRS=


# Override the directory containing *_access_token and *_item_id files.
# If unset, defaults depend on YAPCLI_DEFAULT_DIRS and PLAID_ENV.
# PLAID_SECRETS_DIR=


# Override the default output directory for CSV exports.
# If unset, defaults to ./output (production) or ./sandbox/output (sandbox).
# YAPCLI_OUTPUT_DIR=


# Override the default log directory.
# YAPCLI_LOG_DIR=


# Plaid SDK request timeout in seconds (default: 10).
# YAPCLI_PLAID_TIMEOUT_SECONDS=10


# Use 'sandbox' to test with fake credentials in Plaid's Sandbox environment
# Use 'production' to use real data
# Request production approval at https://dashboard.plaid.com/overview/production
# Once approved, you can set your environment to 'production' to test this application against production data. We recommend sticking to `sandbox` for initial development and testing.
# Some institutions (Chase, Fidelity, Schwab) take longer to get approval for and aren't available immediately.
# NOTE: To use Production, you must set a use case for Link. 
# You can do this in the Dashboard under Link -> Link Customization -> Data Transparency: 
# https://dashboard.plaid.com/link/data-transparency-v5
# PLAID_ENV=production
# PLAID_ENV=sandbox